.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  p {
    font-weight: 300;
    font-size: 1.2rem;
  }

  h1 {
    color: #ffd700;
    font-size: 3rem;
  }

  h2 {
    font-size: 1.4rem;
    color: #25252a;
    text-align: left;
  }

  img {
    transform: scaleX(-1);
  }
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: left;

  * {
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;
  }

}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60vh;
}

@media screen and (min-width: 992px) {
  .imgWrapper {
    height: 100vh;

    img {
      width: 100vh;
    }
  }
}

@media screen and (max-width: 992px) {
  .wrapper {
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: 
    linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url('/coffee.jpg') no-repeat 60% 30%;
    color: white;

    h1 {
      font-size: 2.5rem;
    }

    h2 {
      color: white;
    }
  }
  .imgWrapper {
    height: 100vh;
    display: none;

    img {
      width: 100vh;
    }
  }
}
